<nz-layout class="layout">
  <nz-header>
    <div [ngClass]="{'logo': isCollapsed, 'logo-all': !isCollapsed}"></div>
    <i class="trigger" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'" style="font-size: 16px; color: #fff;" (click)="isCollapsed=!isCollapsed"></i>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
      <li nz-menu-item>nav 1</li>
      <li nz-menu-item>nav 2</li>
      <li nz-menu-item>nav 3</li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider [nzWidth]="200" style="background:#fff" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
      <ul nz-menu [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu>
          <span title><i nz-icon type="user"></i><span class="nav-text">subnav 1</span></span>
          <ul>
            <li nz-menu-item>option1</li>
            <li nz-menu-item>option2</li>
            <li nz-menu-item>option3</li>
            <li nz-menu-item>option4</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title><i nz-icon type="laptop"></i><span class="nav-text">subnav 2</span></span>
          <ul>
            <li nz-menu-item>option5</li>
            <li nz-menu-item>option6</li>
            <li nz-menu-item>option7</li>
            <li nz-menu-item>option8</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title><i nz-icon type="notification"></i><span class="nav-text">subnav 3</span></span>
          <ul>
            <li nz-menu-item>option9</li>
            <li nz-menu-item>option10</li>
            <li nz-menu-item>option11</li>
            <li nz-menu-item>option12</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout style="padding:0 24px 24px">
      <nz-breadcrumb style="margin:16px 0;">
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>List</nz-breadcrumb-item>
        <nz-breadcrumb-item>App</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-content style="background:#e4e4e4; padding: 24px; min-height: 800px; height:100%!important; height:800px;overflow: hidden;">
        <router-outlet></router-outlet>
      </nz-content>
      <nz-footer style="text-align: center;"> Design ©2019 Implement By SmartOne</nz-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>
<ng-template #trigger>
  <i nz-icon type="up"></i>
</ng-template>